@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oswald:wght@300;500&display=swap');
body {
    font-family: 'Lato', sans-serif;;
    height: 80%;
    background-color: #004494;
    color: white;
    display: flex;
    justify-content: center;
   /* flex-wrap: wrap; */
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    height: 100%;
    max-width: 1400px;
margin-bottom: 16px;
}

.column-box {
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    margin: 10px;
    /* flex-wrap: wrap; */
    min-width: 300px;

    flex: 1;
}

.box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.content{
    text-align: left;
    width: 100%;
    align-items: center;
}
hr{
    border: 1px solid white;
    width: 100%;
   margin-top: 8px;
}

span{
    margin: 8px;
}