body * {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oswald:wght@300;500&display=swap');

body {
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(28, 28, 192);
}

.main-box {
    display: flex;
   max-width: 1080px;
    flex-direction: column;
    height: 850px;
    /* border: 1px solid white; */

}

.row {
    display: flex;
    gap: 15px;
    margin: 8px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.column {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}

hr {
    width: 100%;
    border: 1px solid white;
    margin-top: 0px;
}

h2 h3 {
    margin: 8px, 0px
}
p{
    margin: 4px;
}

.social-box{
    display: flex;
    gap: 12px;
}
.social-span{
    display: flex;
    gap: 4px;
}